* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
}

nav h1 {
  letter-spacing: 3px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 15px;
}

h1 {
  text-align: center;
}
